/* colors */
/* note that there are contrast/legibility issues using rstudio-blue with white text */
/* timing */
/* sizes */

/*7CB5EC*/

body {
  background-color: #DBDBDB;
}

.col-sm-8 div.row,
.col-sm-9 div.row {
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-header {
  width: 250px;
  height: 60px;
}

nav.navbar,
nav li.active a {
   background-color: #0382E4 !important; /*#0467B0 !important;   /*C03B3B !;*/
   border-style: none;
}

.container-fluid {
   padding-right:0px;
   padding-left:0px;
   margin-right:auto;
   margin-left:auto;
}

nav a {
   color: #FFFFFF !important;
   font-family:Avenir,'Helvetica Neue',Helvetica,Arial,sans-serif;
   font-size: 16px;
}

nav ul {
   padding-top:6px;
}

nav li {
   margin-right: 35px;
}

/*nav li:nth-child(6) > a {
   color: #F80 !important;
}*/

nav li > a:hover {
   color: #0AF !important;
}

/*nav li:nth-child(6) > a:hover {
   color: #FD0 !important;
}*/

h1 {
   margin-top: 10px;
   padding-left: 0px;
   font-size: 30px;
   font-family:Avenir,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

div.row h2 {
   margin-top: 0px;
   padding-left: 1px;
   padding-bottom: 20px;
   font-size: 21px;
   font-family:Avenir,'Helvetica Neue',Helvetica,Arial,sans-serif;
   color: #707070;
}

div.container-fluid > h2 {
   display: none;
   height: 0px !important;
}

h3 {
   padding-top: 30px;
   padding-left: 0px;
   padding-bottom: 25px;
   font-family:Avenir,'Helvetica Neue',Helvetica,Arial,sans-serif;
   color: #A00;
}

label {
   font-family:Avenir,'Helvetica Neue',Helvetica,Arial,sans-serif;
   padding-top: 6px;
   padding-bottom: 6px;
}

table {
   font-family:Avenir,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

/*tr > td:first-child {
  display: none;
}*/

th {
  padding: 10px !important;
}

tr.odd {
  background-color: #F5F7FA !important;
}

.container-fluid > .col-sm-3 {
  position: fixed;
  height: 100%;
  width: 21%;
  padding-left: 25px;
  padding-top: 75px;
}

.input-news,
.input-social{
  position: absolute !important;
  top: 75px !important;
  width: 84% !important;
}

div#dateRange{
  top: 170px !important;
  position: absolute;
  width: 84% !important;
}

.col-sm-4 {
  width: 100% !important;
  height: 100%;
  background-color: #DBDBDB;
  display: table-cell;
  padding-top: 75px;
}

.col-sm-8 {
  width: 100% !important;
  background-color: #FDFDFD; /*#F3F3F6;*/
  padding-top: 75px;
}

.col-sm-9 {
  float: right;
  width: 79% !important;
  background-color: #FDFDFD; /*#F3F3F6;*/
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 400px;
}

div {
   font-family:Avenir,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

div.datepicker {
   position: fixed !important;
   top: 222px !important;
}

div#table {
  padding-left: 0px;
  padding-right: 0px;
}

img.map {
  left: 470px;
  top: 66px;
  position: absolute;
  width: 107px;
  height: 112px;
}

img.alchemy {
  right: 0px;
  top: 66px;
  position: absolute;
  width: 122px;
  height: 122px;
}

h5.power{
  right: 115px;
  top: 76px;
  position: absolute;
  width: 120px;
  height: 40px;
  text-align: right;
}


div.below_title{
  position: absolute;
  width: 100%;
  top: 176px;
  right: 0px;
  height: 8px;
  background-color: #FDFDFD; /*#F3F3F6;*/
  border-top-style: solid;
  border-top-color: grey;
  border-top-width: 1px;
  z-index: 1000;
}

/*background-image: url('../img/michigan.png');*/

a.paginate_button {
  border-radius: 18px !important;
}

img.interest {
  height: 100px;
  width: 220px;
  padding-bottom: 30px;
}

/*.main-svg {
  background: #FF0 !important;
}*/

.xtitle,
.ytitle {
   font-family:Avenir,'Helvetica Neue',Helvetica,Arial,sans-serif !important;
}

.cbx{
  position: fixed;
  right: 66.2%;
}

.cbx .checkbox{
  margin-top: 2px;
}

.col-sm-3 > .form-group{
  margin-bottom: 9px;
}


.col-sm-8 tbody tr td:nth-child(4){
  width: 55% !important;
}

.col-sm-8 tbody tr td:nth-child(5){
  width: 15% !important;
  word-wrap: break-word !important;
}

.col-sm-8 tbody tr td a{
  word-wrap: break-word !important;
  display: inline-block !important;
  word-break: break-word !important;
}
